@import 'vars.scss';

html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
}

li {
  margin: 10px 0;
}

strong {
  text-transform: uppercase;
}

th, td {
  text-align: center;
}

table {
  width: 100%;
}

.is-hidden {
  display: none;
}